*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* COLOURS */
    --text-black: #140a0a;
    --near-black: hsla(0, 33%, 2%, 0.801);
    --light-grey: #d6d2d2;
    --mid-grey: #9e9ea0cc;
    --dark-grey: #3b3b3b;
    --mid-orange: rgba(248, 197, 87, 0.714);

    --mid-yellow: rgba(251, 234, 4, 0.8);
    --check-yellow: rgb(207, 200, 100);
    --bright-red: rgba(248, 45, 45, 0.8);
    --check-red: rgb(176, 4, 4);
    --red: #ff0000;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: var(--text-black);
    padding: 1.5rem;

    box-sizing: border-box;
}

.u-center-text {
    text-align: center;
}

.header {
    height: 97vh;
    background-image: linear-gradient(to right bottom, var(--near-black),
            var(--near-black)), url(../images/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
}

.header__logo-box {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.header__logo {
    height: 10rem;
}

.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.heading-primary {
    width: 100%;
}

.heading-primary--main {
    height: 11rem;
    font-family: Gwendolyn;
    font-size: 11rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-bottom: 10%;
    display: inline-block;
    background-image: linear-gradient(to right, var(--mid-yellow), var(--bright-red));
    -webkit-background-clip: text;
    color: transparent;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary--sub {
    text-transform: uppercase;
    padding-left: 2rem;
    font-size: 4.5rem;
    font-weight: 400;
    letter-spacing: 0.4rem;
    display: inline-block;
    background-image: linear-gradient(to right, var(--mid-yellow), var(--bright-red));
    -webkit-background-clip: text;
    color: transparent;

    animation: moveInRight 1s ease-out;
}

.page-heading {
    margin-top: -2.5rem;
    margin-bottom: 5rem;
    font-family: Gwendolyn;
    font-size: 7rem;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, var(--mid-yellow), var(--bright-red));
    -webkit-background-clip: text;
    color: transparent;
}

/* --- Navigation ---*/

.navigation-checkbox {
    display: none;
}

.navigation-button {
    background-image: radial-gradient(var(--check-yellow), var(--check-red));
    height: 8rem;
    width: 8rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 20;
    box-shadow: 0 1rem 2rem black;
    text-align: center;
    cursor: pointer;
}

.navigation-background {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 7rem;
    right: 7rem;
    background-image: radial-gradient(var(--check-yellow), var(--check-red));
    z-index: 10;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation-nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 15;

    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation-list {
    position: absolute;
    top: 34%;
    left: 82%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.navigation-item {
    margin: 1rem;
}

.navigation-link:link,
.navigation-link:visited {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 100;
    padding: .5rem 2rem;
    color: var(--dark-grey);
    text-decoration: none;
    text-transform: uppercase;
    background-size: 220%;

    transition: all .4s;
}

.navigation-link:hover,
.navigation-link:active {
    color: var(--light-grey);
    background-position: 100%;
    transform: translateX(-1rem);
}

.navigation-checkbox:checked~.navigation-background {
    transform: scale(15);
}

.navigation-checkbox:checked~.navigation-nav {
    opacity: 1;
    width: 100%;
}

.navigation-icon {
    position: relative;
    margin-top: 4rem;
}

.navigation-icon,
.navigation-icon::before,
.navigation-icon::after {
    width: 4rem;
    height: 4px;
    background-color: var(--dark-grey);
    display: inline-block;

}

.navigation-icon::before,
.navigation-icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
}

.navigation-icon::before {
    top: -.8rem;
}

.navigation-icon::after {
    top: .8rem;
}

/* --- Location --- */
.location {
    padding: 16rem 0;
    margin-top: -13rem;
    height: 135vh;
    background-color: var(--light-grey);
}

.card {
    padding: 5rem;
    transition: transform .3s;
}

.card:hover {
    transform: translateY(-1.5rem) scale(1.03);
}

.image-container {
    padding: 1rem 2rem;
    border: #140a0a 1px solid;
}

/* .maps {
    z-index: 9999;
    height: 400px;
    width: 100%;
} */


/* --- Gallery --- */
.gallery {
    padding: 7rem 0;
    margin-top: -8rem;
    margin-bottom: 7rem;
    height: 105vh;
    background-color: var(--dark-grey);
    transform: skewY(-3deg);
    position: relative;
}

.gallery-content {
    transform: skewY(3deg);

}

.gallery-images {
    padding: 5rem 0;
}

.carousel {
    width: 50%;
    height: auto;
    margin-left: 25%;
}

.photo {
    box-shadow: 0 12rem 4rem rgb(0, 0, 0);
    border-radius: 2px;
    border: 1px solid var(--near-black);
}

/*  --- Contact --- */
.contact {
    padding: 11rem 0;
    position: relative;
    background-color: var(--light-grey);
    margin-top: -20rem;
    height: 95vh;
    clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);
}

.contact-content {
    position: relative;
}

.contact-form {
    padding-bottom: 5rem;
}

.contact-box {
    position: absolute;
    text-align: center;
    left: 3rem;
    width: 40rem;
    vertical-align: middle;
    padding: 10rem 0;
}

.contact-me {
    font-weight: 400;
}

.form-control {
    font-size: 1.5rem;
}

.form-control,
.form-label {
    margin-left: 12.5%;
    width: 80%;
}

.send-btn {
    font-weight: bold;
    background-image: linear-gradient(to right, var(--mid-yellow), var(--bright-red));
    border-color: var(--dark-grey);
    color: var(--dark-grey);
}

/*  --- Covid ---  */
/* .covid {
    margin-top: -10rem;
    margin-bottom: 10rem;
    color: var(--light-grey);
    height: 85vh;
    background-color: var(--dark-grey);

    clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
}

.covid-content {
    padding: 13rem 0;
}

.covid-rules {
    margin: 7rem 0;
    padding-top: 8rem;
    position: relative;
}

.covid-text-box {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-15%, -25%);
} */

/* --- Footer --- */
footer {
    /* margin-top: -13rem; */
    background-image: linear-gradient(to right bottom, var(--near-black),
            var(--near-black)), url(../images/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.inline-block {
    display: inline-block;
}

#copy,
a {
    display: inline-block;
    background-image: linear-gradient(to right, var(--mid-yellow), var(--bright-red));
    -webkit-background-clip: text;
    color: transparent;
}

#copy {
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 1rem;
}

footer ul {
    width: 100%;
}

.footer ul li {
    padding: 0 2rem;
}

.social-media {
    font-size: 3.5rem;
    font-weight: bold;
    position: relative;
    text-align: center;
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

/* @media (max-width: 1400px) { */
/* .heading-primary--main {
        padding-left: 5rem;
        font-size: 20rem;
        height: 20rem;
    }

    .heading-primary--sub {
        padding-left: 6rem;
        font-size: 9rem;
    } */

/* .location {
        height: 95vh;
        padding: 15rem 0;
    }

    .gallery {
        height: 100vh;
        padding: 15rem 0;
        margin-bottom: 0;
    }

    .contact {
        height: 70vh;
    }
}

@media (max-width: 1200px) {
    .heading-primary--main {
        padding-left: 5rem;
        font-size: 20rem;
        height: 20rem;
    }

    .heading-primary--sub {
        padding-left: 6rem;
        font-size: 9rem;
    }

}


@media (max-width: 1000px) {
    .navigation-nav {
        height: 55vh;
        right: 3rem;
    }

    .heading-primary--main {
        padding-left: 0rem;
        font-size: 12rem;
        height: 12rem;
    }

    .heading-primary--sub {
        padding-left: 0;
        font-size: 5rem;
    }

    .location {
        height: 95vh;
    }

    .gallery {
        height: 87vh;
    }

    .contact {
        height: 70vh;
    }

}

@media (max-width: 770px) {

    .header__text-box {
        width: 80%;
    }

    .heading-primary--main {
        padding-left: 0rem;
        font-size: 13rem;
        height: 13rem;
    }

    .heading-primary--sub {
        padding-left: 1rem;
        font-size: 6rem;
    }

    .location {
        height: 90vh;
        margin-top: -18rem;
        padding: 19rem 0;
    }

    .gallery {
        height: 70vh;
    }

    .carousel {
        width: 60%;
        margin-left: 20%;
    }
}

@media (max-width: 700px) {
    .navigation-nav {
        right: 5.5rem;
    }

    .gallery {
        height: 65vh;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 45%;
    }

    .navigation-nav {
        height: 50vh;
        right: 10rem;
    }

    .header__text-box {
        width: 92%;
    }


    .gallery {
        height: 55vh;
    }

    .contact-box {
        padding: 0;
        left: 25%;
    }

}

@media (max-width: 456px) {
    html {
        font-size: 38%;
    }

    .header {
        height: 65vh;
        clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
    } */

/* .header {
        height: 97vh;
        background-image: linear-gradient(to right bottom, var(--near-black),
                var(--near-black)), url(../images/hero.jpg);
        background-size: cover;
        background-position: top;
        position: relative;
    
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    } */

/* .navigation-nav {
        height: 50vh;
        right: 15rem;
    }

    .header__text-box {
        width: 92%;
    }

    .header-primary--main {
        height: 30rem;
        padding-left: 7rem;
    }

    .header-primary--sub {
        height: 30rem;
        padding-left: 7rem;
    }

    .location {
        height: 118vh;
        margin-top: -10rem;
    }

    .gallery {
        height: 55vh;
    }

    .carousel {
        width: 90%;
        height: auto;
        margin-left: 5%;
    }

    .contact {
        height: 65vh;
    }

    .contact-box {
        padding: 0;
        left: 25%;
    } */

/* .covid {
        height: 50vh;
        clip-path: polygon(0 5vh, 100% 0, 100% 100%, 0 100%);
    } */
/* }

@media (max-width: 362px) {
    .location {
        height: 120vh;
        margin-top: -10rem;
    }

    .gallery {
        height: 65vh;
    }

    .contact {
        height: 100vh;
    }

    .contact-box {
        padding: 2rem 0;
        position: relative;
        left: 25%;
    }

} */

/* @media (max-width: 321px) {

    .header {
        height: 70vh;
        clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
    }

    .header__logo {
        height: 11rem;
    }

    .header-primary--main {
        height: 30rem;
        padding-left: 7rem;
    }

    .header-primary--sub {
        height: 30rem;
        padding-left: 7rem;
    }

    .navigation-button {
        height: 10rem;
        width: 10rem;
    }

    .navigation-background {
        height: 10rem;
        width: 10rem;
    }

    .navigation-nav {
        height: 30vh;
        right: 12rem;
    }


    .navigation-icon,
    .navigation-icon::before,
    .navigation-icon::after {
        width: 3rem;
        height: 3px;
    }

    .navigation-icon {
        margin-top: 4.5rem;
    }

    .location {
        height: 100vh;
        margin-top: -10rem;
    }

    .w-100 {
        width: 150% !important;
    }

    .contact {
        height: 70vh;
        clip-path: polygon(0 5vh, 100% 0, 100% 100%, 0 100%);
    }

    .contact-box {
        left: 7%;
    }

} */