*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    /* COLOURS */
    --text-black: #140a0a;
    --near-black: hsla(0, 33%, 2%, 0.801);
    --light-grey: #d6d2d2;
    --mid-grey: #9e9ea0cc;
    --dark-grey: #3b3b3bcc;
    --mid-orange: rgba(248, 197, 87, 0.714);
    --mid-yellow: rgba(251, 234, 4, 0.8);

    --mid-yellow: rgba(255, 255, 51, 0.918);
    --bright-red: rgba(248, 45, 45, 0.8);
    --red: #ff0000;
}

html {
    /* default px is 16px ours is 10px. %age = 10/16= .625 or 62.5%*/
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: var(--text-black);
    padding: 1.5rem;

    box-sizing: border-box;
}

.u-center-text {
    text-align: center;
}

.header {
    height: 97vh;
    background-image: linear-gradient(to right bottom, var(--near-black),
            var(--near-black)), url(../images/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo-box {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.header__logo {
    height: 8rem;
}

.header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-primary--main {
    display: block;
    height: 15rem;
    font-family: Gwendolyn;
    font-size: 15rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-bottom: 10%;
    display: inline-block;
    background-image: linear-gradient(to right, var(--mid-yellow), var(--bright-red));
    -webkit-background-clip: text;
    color: transparent;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary--sub {
    display: block;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 0.4rem;
    display: inline-block;
    background-image: linear-gradient(to right, var(--mid-yellow), var(--bright-red));
    -webkit-background-clip: text;
    color: transparent;

    animation: moveInRight 1s ease-out;
}

.page-heading {
    margin-top: -2.5rem;
    margin-bottom: 2.5rem;
    font-family: Gwendolyn;
    font-size: 7rem;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, var(--mid-yellow), var(--bright-red));
    -webkit-background-clip: text;
    color: transparent;
}

.location,
.contact {
    padding: 25rem 0;
    margin-top: -23rem;
    margin-bottom 35rem;
    height: 115vh;
    background-color: var(--light-grey);
}

.gallery {
    padding: 25rem 0;
    margin-top: -13rem;
    height: 110vh;
    background-color: var(--dark-grey);
    transform: skewY(-7deg);
}
.covid {
    padding: 5rem 0;
    margin-top: -13rem;
    height: 50vh;
    background-color: var(--dark-grey);

    /* clip-path: polygon(0 25%, 100% 0 100% 100%, 0 100%); */
}
/* .location,
.contact {
    background-color: var(--light-grey);
    
} */

.card {
    padding: 5rem;
    transition: transform .3s;
}
.card:hover {
    transform: translateY(-1.5rem) scale(1.03);
}

/* .gallery,
.covid {
    background-color: var(--dark-grey);
    transform: skewY(-7deg);
} */
.contact-content {
    /* padding: 25rem 0; */
    margin-top: 4rem;
}
.gallery-content {
    transform: skewY(7deg);
}
.carousel {
    width: 50%;
    height: auto;
    margin-left: 25%;
    /* position: relative; */
}
.photo {
    /* box-shadow: 0 12rem 4rem rgba(var(--text-black), 1); */
    border-radius: 2px;
    border: 1px solid var(--near-black);
    /* position: absolute; */
}

.form-control,
.form-label {
    margin-left: 12.5%;
    width: 75%;
}

/* .covid {
    background-color: var(--light-grey);
} */

.covid-rules {
    margin-top: 10rem;
    position: relative;
}

.covid-text-box {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-15%, -25%);
}

footer {
    background-image: linear-gradient(to right bottom, var(--near-black),
            var(--near-black)), url(../images/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.inline-block {
    display: inline-block;
}

#copy,
a {
    display: inline-block;
    background-image: linear-gradient(to right, var(--mid-yellow), var(--bright-red));
    -webkit-background-clip: text;
    color: transparent;
}

#copy {
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 1rem;
}

footer ul {
    width: 100%;
}

.footer ul li {
    padding: 0 2rem;
}

.social-media {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    text-align: center;
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}